# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# environment
.env

# pipenv
Pipfile.lock

# python 
*.pyc
*.pyo

# app data
DataAnalysis/output/*
DataAnalysis/output2/*
DataAnalysis/output3/*
